<div class="fullscreen-cont" data-stellar-ratio="1.0">
    <div class="fullscreen-img"></div>
    <div class="fullscreen-cont row">

        <!-- Content container start -->
        <div class="large-12 columns artist-page">
            <div align="center">
                <h1 class="artist-name">Watch Out For the Hounds</h1>
            </div>
        </div>

        <!-- End content -->
    </div>
</div>

<div>
    <div class="content row banner">
        <h2>Release</h2>
    </div>
</div>

<div class="release">
    <div class="content row">
        <p>As a solo artist, André has earned 6 Grammy Awards, 4 Emmy Awards and dozens of accolades around the world. <br>In 2002, André released his debut solo album, Justified, which has sold over eight million copies worldwide.</p>
        <p>André’s second solo album, FutureSex/LoveSounds, was released in 2006 and produced four #1 singles
including “SexyBack,” “My Love,” “What Goes Around…Comes Around” and “Summer Love.” With his three
solo albums, André has sold over 18 million albums worldwide. On all three albums, André was the chief
songwriter and producer.</p>
    </div>
</div>
